.second_column{
  position: relative;
  float: right;
  right: 25%;
}
.break {
  margin-top:20px;
  clear: both;
}

.cml_field > .legend {
  width: 60%;
  float: left;
}

.cml_row {
  float: right;
  width: 10px;
  right: 38%;
}
.required {
  font-size: 70%;
  color: red;
}
